{% load i18n %}
{% load l10n %}
<h1>Kulukorvauslomake <span style="float: right; color: #777;">#{{ expense.num }}</span></h1>

<div class="info-grid">
  <div class="info-row">
    <div class="info-label">Organisaatio</div>
    <div class="info-value">{{ expense.organisation.name }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">Nimi</div>
    <div class="info-value">{{ expense.name }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">Sähköpostiosoite</div>
    <div class="info-value">{{ expense.email }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">IBAN</div>
    <div class="info-value">{{ expense.iban }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">SWIFT</div>
    <div class="info-value">{{ expense.swift }}</div>
  </div>
  <div class="info-row">
    <div class="info-label">Kuvaus</div>
    <div class="info-value">{{ expense.description }}</div>
  </div>
  {% if expense.notes %}
  <div class="info-row">
    <div class="info-label">Huomautuksia</div>
    <div class="info-value">{{ expense.notes }}</div>
  </div>
  {% endif %}
  <div class="info-row">
    <div class="info-label">Työkulku</div>
    <div class="info-value">{{ expense.workflow.name }}</div>
  </div>
</div>

<h3>Kuluerittely</h3>
<table>
  <thead>
    <tr>
      <th style="width: 40%">Kuvaus</th>
      <th style="width: 25%">Korvaustyyppi (kerroin)</th>
      <th style="width: 15%" class="text-right">Korvausperuste</th>
      <th style="width: 20%" class="text-right">Summa</th>
    </tr>
  </thead>
  <tbody>
    {% for expenseline in expenselines %}
    <tr>
      <td>{{ expenseline.description }}</td>
      <td>{{ expenseline.expensetype_name }} ({{ expenseline.multiplier }})</td>
      <td class="text-right">{{ expenseline.basis }}</td>
      <td class="text-right">{{ expenseline.sum }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
      <td colspan="3" class="text-right">Yhteensä</td>
      <td class="text-right">{{ expense.amount|localize }}</td>
    </tr>
  </tbody>
</table>

<h3>Hyväksyminen</h3>

<table>
  <thead>
    <tr>
      <th style="width: 20%">Päiväys</th>
      <th style="width: 20%">Tyyppi</th>
      <th style="width: 30%">Lisätieto</th>
      <th style="width: 30%">Merkinnän tekijä</th>
    </tr>
  </thead>
  <tbody>
    {% for expenseevent in expenseevents %}
    <tr>
      <td>{{ expenseevent.date|date:'j.n.Y' }}</td>
      <td>{{ expenseevent.typename }}</td>
      <td>{{ expenseevent.notes }}</td>
      <td>{{ expenseevent.user.person }} ({{ expenseevent.user }})</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if expense.barcode %}
<p class="bar-code-note">Voit maksaa kululaskun virtuaaliviivakoodilla:<br><strong>{{ expense.barcode }}</strong></p>
{% endif %}