{% load i18n %}
{% load l10n %}
  <h1>Kulukorvauslomake <span style="text-align: right; font-size: 60%;">{{ expense.num }}</span></h1>
  <dl>
    <dt>Organisaatio</dt>
    <dd>{{ expense.organisation.name }}</dd>

    <dt>Nimi</dt>
    <dd>{{ expense.name }}</dd>

    <dt>Sähköpostiosoite</dt>
    <dd>{{ expense.email }}</dd>

    <dt>IBAN</dt>
    <dd>{{ expense.iban }}</dd>

    <dt>SWIFT</dt>
    <dd>{{ expense.swift }}</dd>

    <dt>Kuvaus</dt>
    <dd>{{ expense.description }}</dd>

    <dt>Huomautuksia</dt>
    <dd>{{ expense.notes }}</dd>

    <dt>Työkulku</dt>
    <dd>{{ expense.workflow.name }}</dd>
  </dl>

  <h3>Kuluerittely</h3>
  <table>
  <thead><tr>
    <th>Kuvaus</th>
    <th>Korvaustyyppi (kerroin)</th>
    <th>Korvausperuste</th>
    <th>Summa</th>
  </tr></thead>
  <tbody>
  {% for expenseline in expenselines %}
  <tr>
    <td>{{ expenseline.description }}</td>
    <td>{{ expenseline.expensetype_name }} ({{ expenseline.multiplier }} per)</td>
    <td>{{ expenseline.basis }}</td>
    <td>{{ expenseline.sum }}</td>
  </tr>
  {% endfor %}
  <tr class="total">
    <td colspan="3">Yhteensä</td>
    <td>{{ expense.amount|localize }}</td>
  </tr>
  </tbody>
  </table>

  <h3>Hyväksyminen</h3>

  <table>
  <thead><tr>
    <th>Päiväys</th>
    <th>Tyyppi</th>
    <th>Lisätieto</th>
    <th>Merkinnän tekijä</th>
  </tr></thead>
  <tbody>
  {% for expenseevent in expenseevents %}
  <tr>
    <td>{{ expenseevent.date|date:'j.n.Y' }}</td>
    <td>{{ expenseevent.typename }}</td>
    <td>{{ expenseevent.notes }}</td>
    <td>{{ expenseevent.user.person }} ({{ expenseevent.user }})</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

<p>Voit maksaa kululaskun virtuaaliviivakoodilla {{ expense.barcode }}.</p>
