{% load i18n %}

<div class="pure-g">
  <div class="pure-u-1">
  <h2>{% trans 'Expenses'%}</h2>
  {% for line in lines %}
  
    <h3> {% trans "Expense "%} {{ forloop.counter }}</h3>
      <p class="subject">{{ line.description.label }}:</p>
      <p class="value"> {{ line.description.value }}</p>

      <p class="subject">{% trans "Date" %}:</p>
      <p class="value"> {{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</p>

      <p class="subject">{{ line.expensetype.label }}:</p>
      <p class="value">  {{ line.expensetype.value }}</p>

      <p class="subject">{{ line.sum.label }}:</p>
      <p class="value"> {{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</p>

      {% if line.receipt %}
        <p class="subject">{{ line.receipt.label }}:</p>
        {% if line.id %}
          <a href="{% url 'receipt_fetch' expenselineid=line.id %}" style="font-style: italic;">{{ line.receipt.filename }}</a>
          {% else %}
            {{ line.receipt.filename }}
          {% endif %}
      {% endif %}
      <div style="border-bottom-color: #D2D2D2;
      border-bottom-style: solid;
      border-bottom-width: 1px;"></div>

      {% endfor %}
    </div>

      
 
  <!-- <li class="form-block">
    <dl class="dl-horizontal">
      <dt>{{ line.description.label }}</dt>
      <dd>{{ line.description.value }}</dd>
      
      <dt>{% trans "Date" %}</dt>
      <dd>{{ line.begin_at.value | date:"j.n.Y H.i" }} – {{ line.ended_at.value | date:"j.n.Y H.i" }}</dd>
      
      <dt>{{ line.expensetype.label }}</dt>
      <dd>{{ line.expensetype.value }}</dd>
      
      <dt>{{ line.sum.label }}</dt>
      <dd>{{ line.basis.value | floatformat:"-2" }} × {{ line.expensetype.value.multiplier | floatformat:"-2" }} = {{ line.sum.value | floatformat:"2" }} €</dd>
      
      {% if line.receipt %}
      <dt>{{ line.receipt.label }}</dt>
      <dd>
        {% if line.id %}
        <a href="{% url 'receipt_fetch' expenselineid=line.id %}">{{ line.receipt.filename }}</a>
        {% else %}
        {{ line.receipt.filename }}
        {% endif %}
      </dd>
      {% endif %}
    </dl>
  </li> -->
  
